@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+HR+Lijeva+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: "Cabin", serif;
}

.navbar{
    height: 83px;
    background-color: #0C244A;
    color: #FFFF;
    display: flex;
}
.navbar img{
    padding-top: 20px;
    height:40px;
    width:35px;
    margin-left: 80px;
}
.navbar > h4{
    padding-top: 25px;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 0px;
}
#allQuotes{
    margin-top: 15px;
    width:156px;
    height:51px;
    border-radius: 8px;
    background-color: #F3BD00;
    /* padding: 16px 40px; */
    margin-left: 1000px;
    font-size: 18px;
}

#allQuotes:hover{
    background-color: #eed888;
}
.container{
    margin-top: 35px;
    margin-left: 80px;
    margin-right: 80px;
    /* border:2px solid black; */
}

.container > h1{
    text-align: center;
    font-size: 45px;
    font-weight: 900;
}

.random-quote-container{
    margin-top: 30px;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    height: 358px;
    /* padding: 40px; */
    padding-top: 1px;
}

.random-quote{
    background-color: #F5F5F5;
    border-radius: 24px;
    height:278px;
    margin:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.quote > h4{
    /* position:absolute; */
    height:50px;
    font-size: 48px;
    font-weight: 900;
}
.author{
    margin-left: 900px;
    font-size: 24px;
    font-weight: 700;
    position:absolute;
    bottom: 18px;
    right: 100px;
}
#generate{
    margin-top: 40px;
    width:100%;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 700;
    height:61px;
    background-color: #F3BD00;
    /* margin-bottom: 20px; */
}

#generate:hover{
    background-color: #eed888;
}

label{
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
input[type="text"]
{
    font-size: 24px;
    height:69px;
    padding:8px;
    border-radius: 8px;
    box-sizing: border-box;
    /* font-weight: 700; */
}
#newQuote{
    margin-top: 5px;
    width:100%;
}
#authorName
{
    margin-top: 5px;
    width:50%;
}
#addbutton{
    width:47%;
    margin-left: 30px;
    height:50px;
    border-radius: 8px;
    background-color: #F3BD00;
    font-size: 20px;
    font-weight: 700;
}
#addbutton:hover{
    background-color: #eed888;
}

button{
    cursor: pointer;
}

.all-quotes{
    display: flex;
}
.quote-container{
    font-size: 20px;
    width: 60%;
}
.author-container{
    font-size: 20px;
    width:40%;
}
.quote-container p,
.author-container p
{
    margin-top: 20px;
}